<header class="header">
    <div class="header-left"> 
        <!-- Logo --> 
         <div>
            <img src="../../../../assets/images/logo.png" alt="Logo" class="logo">
         </div>
        

        <div class="dropdown-container" tabindex="0" (blur)="showDropdownCreate = false">
            <div class="dropdown-display" (click)="toggleDropdownCreate()">
                {{ 'Create' }}
            </div>
            <div class="dropdown-menu" *ngIf="showDropdownCreate">
                <div class="dropdown-item" *ngFor="let option of optionsDropdownCreate" (click)="selectOptioWhatToCreate(option)">
                    {{ option.label }}
                </div>
            </div>
        </div>

        <!-- Architecture dropdown Field -->
        <div class="dropdown-container" tabindex="0" (blur)="showDropdownSelectArchitecture = false">
            <div class="dropdown-display" (click)="toggleDropdownSelectArchitecture()">
                {{ selectedArchitecture?.name || 'Select Architecture' }}
            </div>
            <div class="dropdown-menu" *ngIf="showDropdownSelectArchitecture">
                <div class="dropdown-item" *ngFor="let option of architectures" (click)="selectArchitecture(option)">
                    {{ option.name }}
                </div>
            </div>
        </div>

        <!-- Search Field with Magnifier Icon -->
        <!--<div class="search-box">
            <input type="text" placeholder="Search" class="search-field">
            <i class="fas fa-search magnifier-icon"></i>
        </div>-->
    </div>


    <div class="header-right">

        <button class="generate-button" (click)="generateToken()">Generate</button>

        <!-- User Logo -->
        <!--<div *ngIf="userImage; else defaultLogo">
            <img src="{{ userImage }}" alt="User" class="user-image">
        </div>
          
        <ng-template #defaultLogo>
            <div class="user-logo">{{ userName ? (userName[0] | uppercase) : 'U' }}</div>
        </ng-template>-->
    </div>
</header>
  
<div class="main-screen">
    <div class="horisontal-wrapper">
        <div class="start-screen" *ngIf="selectedArchitecture?.id === 0">
            <p>Please, select an Architecture from the list above!</p>
        </div>

       <!-- <div class="zoom-buttons-wrapper">
            <button class="zoomButton" (click)="zoomIn()">+</button>
            <button class="zoomButton" (click)="zoomOut()">-</button>
        </div>-->

        <div *ngIf="selectedArchitecture?.id !== 0" class="architecture-details-button-wrapper">
            <button class="architecture-details-button" (click)="openArchitectureDetails()">
                <i class="fas fa-cog fa-2xl"></i>
            </button>
        </div>
       
        <div class="drag-boundary" [style.zoom]="zoomLevel"> 

            <div *ngFor="let item of ecus" 
            cdkDrag
            cdkDragBoundary=".drag-boundary"
            [style.transform]="'translateX(' + item.positionX + 'px) translateY(' + item.positionY + 'px)'"
        
            (cdkDragEnded)="setElementPosition($event, item)"
            (cdkDragMoved)="rewriteLine($event,item)"
            class="draggable-item"
            (dblclick)="openHarwareDetailsDialog(item)"
            (click)="onEcuClick(item, $event)"
            [attr.ecuId]="item.id" >
                    <ng-container *ngIf="item.type == 'ECU'">
                        <div class="ecu">
                            <div class="label-draggable-item">{{ item.label + "|" + item.id}}</div>
                            <div class="content-draggable-item">{{ servicesCountMap.get(item.id) || 0 }} Services</div> <!--number of services-->
                        </div>
                    </ng-container>
                    <ng-container *ngIf="item.type == 'BUS'"> 
                        <div class="label-bus">{{ item.label + "|" + item.id}}</div>
                        <div class="bus">
                        </div>
                    </ng-container>
                    <!--<ng-container *ngIf="item.type == 'CAN'">
                        <div class="can">
                            <div class="label-can">{{ item.label + "|" + item.id}}</div>
                            <div class="content-can"></div>
                        </div>
                    </ng-container>-->

                
            </div>

    </div>
    <svg id="svg-container" class="connestion-line-container" [style.zoom]="zoomLevel">
        <line class="connestion-line" *ngFor="let connection of connections" 
            [attr.x1]="connection.positionFromX" 
            [attr.y1]="connection.positionFromY"
            [attr.x2]="connection.positionToX" 
            [attr.y2]="connection.positionToY"
            [attr.connectedFrom]="connection.connectedFrom"
            [attr.connectedTo]="connection.connectedTo"
            [attr.id]="'connection_' + connection.id"
            (dblclick)="openHardwareConnectionDetailsDialog(connection)"/>
        <line class="connestion-line-overlay" *ngFor="let connection of connections" 
            [attr.x1]="connection.positionFromX" 
            [attr.y1]="connection.positionFromY"
            [attr.x2]="connection.positionToX" 
            [attr.y2]="connection.positionToY"
            [attr.connectedFrom]="connection.connectedFrom"
            [attr.connectedTo]="connection.connectedTo"
            [attr.id]="'connection_overlay_' + connection.id"
            (dblclick)="openHardwareConnectionDetailsDialog(connection)"/>     
    </svg>


        <app-create-architecture *ngIf="showCreateArchitectureDialog" [createArchitectureData]="dialogData"></app-create-architecture>
        <app-architecture-details-dialog *ngIf="showArchitectureDetails" [architectureDetailsData]="dialogData"></app-architecture-details-dialog>
        <ecu-dialog *ngIf="selectedEcu" [dialogData]="dialogData" (closeDialog)="closeHarwareDetailsDialog()"></ecu-dialog>
        <bus-dialog *ngIf="showBusDialog" [dialogData]="dialogData" (closeDialog)="onCloseBusDialog()"></bus-dialog>
        <create-hardware-dialog *ngIf="showCreateHardwareDialog" [createHardwareData]="dialogData"></create-hardware-dialog>
    </div>
</div>


<footer class="footer">
    <div class="footer-content">
        © 2024 Architecture Platform for Designing Secure Automotive Systems
    </div>
</footer>
    
    




