<button class="back-button" (click)="goBack()">&lt;</button>
<button class="create-service-button" (click)="openCreateServiceDialog()">Create Service</button>  
<button class="create-datastream-button" (click)="openCreateDatastreamDialog()">Create Datastream</button>

<div class="dropdown-container" tabindex="0" (blur)="showDropdown = false"> 
    <div class="dropdown-display" (click)="toggleDropdownServiceForShowDataStreams()">
        {{ selectedOption?.name || 'Select Service' }} 
    </div>
    <div class="dropdown-menu" *ngIf="showDropdown">
        <div class="dropdown-item" *ngFor="let option of servicesOfSelectedEcu" (click)="selectServiceForShowDataStreams(option)">  
            {{ option.name }}
        </div>
    </div>
</div>
<button class="select-all-services-button" (click)="selectAllServices()">Select all Services</button>
<!--<button class="service-save-button" (click)="updateCurrentState()">Save</button>-->

<!--<div class="zoom-button-set">
    <button class="zoom-button" (click)="zoomIn()">+</button>
    <button class="zoom-button" (click)="zoomOut()">-</button>
    
</div>-->

<div class="main-screen">


    <div id="horisontal-wrapper" class="horisontal-wrapper">
             
           <div class="ecu">

                <h4 class="ecu-name">{{ selectedEcu.label + "|" + selectedEcu.id }}</h4>
                <div id="drag-boundary-{{selectedEcu.id}}" class="drag-boundary" [style.zoom]="zoomLevel">

                    <div *ngFor="let item of servicesMap.get(selectedEcu.id)"
                        cdkDrag
                        cdkDragBoundary=".drag-boundary"
                        [style.transform]="'translateX(' + item.positionX + 'px) translateY(' + item.positionY + 'px)'"
                        (cdkDragEnded)="handleDragMoved($event, item)"
                        (cdkDragMoved)="handleDragMoved($event, item)" 
                        class="draggable-item"
                        (dblclick)="openServiceDetailsDialog(item)"
                        (click)="onEcuClick(item, $event)"
                        [attr.serviceId]="item.id" 
                        [id]="item.id"  >
                        <div class="label-draggable-item">{{ item.name + "|" + item.id }}</div>
                        <div class="content-draggable-item">S</div> 
                    </div>
                </div>
            </div>
        
        <div class="ecu" id="myElement" #scrollableEcu style="overflow: scroll;">
            <div *ngFor="let item1 of hardwares">
                
                    <div *ngIf="serviceData.dialogData.canReach(selectedEcu.id.toString(), item1.id.toString()) && item1.type =='ECU'">
                    <div class="ecu1">
                        <h4 class="ecu-name">{{ item1.label + "|" + item1.id }}</h4>
                        <div id="drag-boundary-{{item1.id}}" class="drag-boundary" [style.zoom]="zoomLevel">
                            <div *ngFor="let item of servicesMap.get(item1.id)"
                                cdkDrag
                                cdkDragBoundary=".drag-boundary"
                                [style.transform]="'translateX(' + item.positionX + 'px) translateY(' + item.positionY + 'px)'"
                                (cdkDragEnded)="handleDragMoved($event, item)"
                                (cdkDragMoved)="handleDragMoved($event,item)"
                                class="draggable-item" 
                                (dblclick)="openServiceDetailsDialog(item)" 
                                (click)="onEcuClick(item, $event)"
                                [attr.serviceId]="item.id" 
                                [id]="item.id"  
                                #draggableItem>
                                <div class="label-draggable-item">{{ item.name + "|" + item.id }}</div>
                                <div class="content-draggable-item">S</div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div> 
        <svg id="svg-container" class="connestion-line-container" [style.zoom]="zoomLevel"> 

            <defs>
                <marker
                  id="arrowhead"
                  refX="30" 
                  refY="2.5" 
                  markerWidth="12"
                  markerHeight="5" 
                  orient="auto-start-reverse">
                  
                  <polygon points="0 0, 12 2.5, 0 5" fill="black" />
                </marker>
            </defs>

            <defs>
                <!-- A marker to be used as an arrowhead -->
                <marker
                  id="arrow"
                  refX="30" 
                  refY="2.5" 
                  markerWidth="12"
                  markerHeight="5" 
                  orient="auto-start-reverse">
                  
                  <polygon points="0 0, 12 2.5, 0 5" fill="black" />
                </marker>
              </defs>


            <line class="connestion-line" *ngFor="let line of dataStreams" marker-end="url(#arrow)"
                [attr.marker-start]="line.twoWayConnection === true ? 'url(#arrowhead)' : ''"
              
                  [attr.x1]="line.positionFromX" 
                  [attr.y1]="line.positionFromY"
                  [attr.x2]="line.positionToX" 
                  [attr.y2]="line.positionToY"
                  [attr.connectedFrom]="line.connectedFrom"
                  [attr.connectedTo]="line.connectedTo"
                  [attr.dataStreamId]="line.id"
                  (dblclick)="openDataStreamDetails(line)"/>
            <line class="connestion-line-overlay" *ngFor="let line of dataStreams" 
                  [attr.x1]="line.positionFromX" 
                  [attr.y1]="line.positionFromY"
                  [attr.x2]="line.positionToX" 
                  [attr.y2]="line.positionToY"
                  [attr.connectedFrom]="line.connectedFrom"
                  [attr.connectedTo]="line.connectedTo"
                 
                  (dblclick)="openDataStreamDetails(line)"/>     
        </svg>
    </div>
</div>
<app-create-service-infrastructure-dialog *ngIf="showCreateServiceDialog" [createServiceDialogData]="dataFromServicesDashbord"></app-create-service-infrastructure-dialog>
<app-data-stream-dialog *ngIf="showDataStreamDialog" [dataStreamsData]="dataFromServicesDashbord"></app-data-stream-dialog>  
<app-service-dialog *ngIf="selectedService" [serviceDetilsData]="dataFromServicesDashbord" ></app-service-dialog> 

