$ServiceWidth: 80px;
$ServiceHeight: 80px;

.main-screen {
  height: 100%;
  background-color: #F5F5F5; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.horisontal-wrapper {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  height: 100%;
  position: absolute;
}

.ecu {
  flex: 1; 
  max-width: 49%; 
  border: 2px solid black; 
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
}

.ecu1 {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black; 
  box-sizing: border-box; 
  height: 300px;
  position: relative;
}

.ecu-name {
  border-bottom: 2px solid black;
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  background-color: #fff;
}

.drag-boundary {
  height: 100%;
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-item {
  position: absolute;
  background-color: transparent;
  width: $ServiceWidth;
  height: $ServiceHeight; 
  cursor: move;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  z-index: 2;
}

.label-draggable-item {
  height: 16px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 2px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-draggable-item {
  background-color: white;
  border: 2px solid #ccc;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.connestion-line-container {
  width: 99%;
  height: 97%;
  position: absolute;
  z-index: 1;
}

.connestion-line {
  stroke:#000000;
  stroke-width: 1;
}

.connestion-line:hover {
  cursor: pointer;
}

.connestion-line-overlay {
  stroke-width: 20px; 
  stroke: transparent; 
}

.connestion-line-overlay:hover {
  cursor: pointer;
}

.zoom-button-set {
  position: absolute;
  top: 45px; 
  left: 0px; 
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.zoom-button {
  width: 30px;
  margin: 5px;
  padding: 5px;
  background-color: white;
  color: #252525;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #009BA0;
  cursor: pointer;
}

.selected {
  background-color: green !important;
}

.service-save-button {
  position: absolute;
  top: 5px;
  right: 100px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #252525;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #009BA0;
  cursor: pointer;
  z-index: 10;
}

.service-save-button:hover {
  background-color: #cef8fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.service-save-button:active {
  background-color: #009BA0;
  color: white;
}

.dropdown-container {
  position: absolute;
  top: 5px;
  left: 375px;
  border: 2px solid transparent;
  width: 200px;
  cursor: pointer;
  background-color: white;
  z-index: 999;
}

.dropdown-display {
  padding: 10px;
  color: #252525; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border-top: none;
  z-index: 1000;
  max-height: 200px; 
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  border-bottom: 1px solid #801D1A;
  z-index: 999;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
  z-index: 999;
}

.dropdown-display::after {
  content: '\25BC'; 
  font-size: 0.8em;
  margin-left: 5px;
  z-index: 999;
}

.dropdown-container:hover, .move-button:hover, .search-field:hover, .filter-field:hover  {
  border-bottom-color: #801D1A; 
}

.dropdown-container:focus, .move-button:hover, .search-field:focus, .filter-field:focus {
  outline: none;
  border-bottom-color: #801D1A;
}

.select-all-services-button {
  position: absolute;
  top: 5px;
  left: 585px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #252525;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #009BA0;
  cursor: pointer;
  z-index: 10;
}

.select-all-services-button:hover {
  background-color: #cef8fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.select-all-services-button:active {
  background-color: #009BA0;
  color: white;
} 

.back-button {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 10px 8px;
  background-color: white;
  color: #252525;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #801D1A;
  cursor: pointer;
  z-index: 10;
}

.back-button:hover {
  background-color: #e3a3a9; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.back-button:active {
  background-color: #801D1A;
  color: white;
}

.create-service-button {
  position: absolute;
  top: 5px;
  left: 37px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #252525;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #009BA0;
  cursor: pointer;
  z-index: 9999;
}

.create-service-button:hover {
  background-color: #cef8fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.create-service-button:active {
  background-color: #009BA0;
  color: white;
}

.create-datastream-button {
  position: absolute;
  top: 5px;
  left: 190px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #252525;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #009BA0;
  cursor: pointer;
  z-index: 9999;
}

.create-datastream-button:hover {
  background-color: #cef8fa; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.create-datastream-button:active {
  background-color: #009BA0;
  color: white;
}



